<div class="d-flex align-items-center justify-content-around"> 
  <div class="">
    <a routerLink="home">
      <img src="/assets/logo/NITPY LOGO.png" width="80px" height="80px" />
    </a>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-nav">
      <a
        class="nav-link"
        *ngFor="let navLink of navLinks"
        routerLinkActive="nav-link-active"
        routerLink="{{ navLink.link }}"
        >{{ navLink.title }}</a
      >
    </div>
  </nav>
</div>
