<div class="container body">
  <div class="row d-flex justify-content-around">
    <div class="card" style="width: 20rem">
      <img src="" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Speaker Name</h5>
        <p class="card-text">About the speaker (designation and what not)</p>
      </div>
    </div>
    <div class="card" style="width: 20rem">
      <img src="" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Speaker Name</h5>
        <p class="card-text">About the speaker (designation and what not)</p>
      </div>
    </div>    
  </div>
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 20rem">
      <img src="" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Speaker Name</h5>
        <p class="card-text">About the speaker (designation and what not)</p>
      </div>
    </div>  
  </div>
  <div class="row d-flex justify-content-around">
    <div class="card" style="width: 20rem">
      <img src="" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Speaker Name</h5>
        <p class="card-text">About the speaker (designation and what not)</p>
      </div>
    </div>
    <div class="card" style="width: 20rem">
      <img src="" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Speaker Name</h5>
        <p class="card-text">About the speaker (designation and what not)</p>
      </div>
    </div>    
  </div>
</div>
