.body {
  margin-left: 15%;
  margin-top: 11rem;
  margin-right: auto;
  margin-bottom: 5rem;

  height: 65vh;

  background-image: url('/assets/background/background-1.png');
  background-repeat: no-repeat;
  background-position: right;
}

.body-1 {
  font-size: 275%;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  letter-spacing: 3px;

  max-width: min-content;

  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end 3;
}
.body-2 {
  font-size: 275%;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  letter-spacing: 3px;

  max-width: min-content;
  width: 0%;

  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.5s steps(40, end) 3s, blink-caret 0.75s step-end infinite 2.5s;
  animation-fill-mode: forwards;
}

.body-3 {
  font-size: 150%;
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  letter-spacing: 2px;
}

.spaced {
  letter-spacing: 3px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-right: 0.15em solid blue;
    border-color: transparent;
  }
  50% {
    border-right: 0.15em solid blue;
    border-color: blue;
  }
}