<div class="body">
  <h3 class="body-1">Data Learning &</h3>
  <h3 class="body-2">Knowledge Earning Workshop</h3>
  <br>
  <P class="body-3">09/05/2022 - 13/05/2022</P>
  <br>
  <button class="btn btn-primary btn-lg spaced" routerLink="/register">REGISTER</button>
</div>
