<div class="container body">
  <div class="mt-2 mb-4 text-center">
    <h2 class="text-uppercase">Register Details</h2>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group row mb-2">
        <label class="form-label col-sm-3">Name:</label>
        <input type="text" class="form-control col"  formControlName="name"/>
      </div>
      <div class="form-group row mb-2">
        <label class="form-label col-sm-3">College:</label>
        <input type="text" class="form-control col" formControlName="collegeName"/>
      </div>
      <div class="form-group row mb-2">
        <label class="form-label col-sm-3">City:</label>
        <input type="text" class="form-control col" formControlName="city"/>
      </div>      
      <div class="form-group row mb-2">
        <label class="form-label col-sm-3">Email ID:</label>
        <input type="email" class="form-control col" formControlName="email"/>
      </div>
      <div class="form-group row mb-2">
        <label class="form-label col-sm-3">Phone No:</label>
        <input type="number" class="form-control col" formControlName="phoneNo"/>
      </div>
      <div class="form-group row mb-2 ">
        <label class="form-label col-sm-3">Designation:</label>
        <select class="form-select col" formControlName="designation" (change)="onChange()">
          <option value="research">Research Scholar</option>
          <option value="faculty">Faculty</option>
          <option value="industryExp">Industry Expert</option>
        </select>
      </div>
      <div class="form-group row mb-2">
        <label class="form-label col-sm-3">Amount Payable:</label>
        <div class="col p-0">
          <input class="form-control" formControlName="amtToPay" disable readonly/>
          <label class="form-text">Account Details: <br>sdgaethathtrjrt <br> rsgaeheth</label>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="form-label col-sm-3">Proof Of Payment:</label>
          <input type="file" class="form-control col" formControlName="proofOfPayment">
      </div>
      <button class="btn btn-success m-3" type="submit">Register</button>
  </form>

</div>
